:root{
    --main-bg-color : #222222;
    --secondary-bg-color: #f5f5f5;
    --main-text-color: #f5f5f5;
    --secondary-text-color : #232323;
    --main-btn-bg-color: #3c67e9;
    --main-btn-text-color: #f5f5f5;
    --secondary-btn-text-color:#3c67e9;
    --main-btn-hover-bg-color: #264fcc;
    --main-social-color :#0d6efd;
    --main-social-hover-color : #264fcc;
    --main-input-bg-color : #404040;
    --main-input-text-color: #f5f5f5;
}