@charset "utf-8";
@import 'globals';
@import 'colors';
@import 'reset';
@import 'components/page1';
@import 'components/page2';
@import 'components/page4';
@import 'media/media_page1';

* {
  font-family: sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  // overflow: auto;
  > section {
    @extend .perfect_center;
    min-width: 100%;
    height: 100vh;
    margin: auto 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  body {
    -webkit-overflow-scrolling: touch;
  }
  .wrapper {
    position: absolute;
    // height: auto;
    height: 100%;
    flex-direction: column;
    display: flex;
    transform: none !important;
    // overflow-y: scroll;
    overflow-y: scroll;
  }
}
